---

import BaseLayout from "../layouts/BaseLayout.astro"
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";

---


<BaseLayout pageTitle={pageTitle}>
	<h2>My cool blog</h2>
	<Greeting client:load messages={["Hi", "What's up", "Sup", "Hey", "Hello", "How ya doin", "Greetings", "Howdy", "Well hello there"]}/>
</BaseLayout>
