---
const { platform, username} = Astro.props;
const platform_git = "github"
const username_git = "brined-alligator"
const platform_yt = "youtube"
const username_yt = "@IvanTran-qs7jp"
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>