---
const { platform, username} = Astro.props;
const platform_git = "github"
const username_git = "brined-alligator"
const platform_yt = "youtube"
const username_yt = "@IvanTran-qs7jp"
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>